@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
/* color */
/* #4275f5 - blue */
/* #1a1a1a - black */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
}

header {
	margin: 50px 0;
}

nav {
	width: 800px;
	max-width: 100%;
	font-family: 'Press Start 2P', cursive;
	margin: 0 auto;
}

nav ul {
	text-align: center;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	display: block;
	color: #1a1a1a;
}

nav ul li a:hover {
	transform: scale(1.1);
	color: #4275f5;
}

nav ul li a.active {
	color: #4275f5;
}

.root {
	position: relative;
	width: 800px;
	max-width: 100%;
	margin: 0 auto;
	padding: 20px 10px;
}

.root .content {
	min-height: 65vh;
	font-family: 'Ubuntu', sans-serif;
}

footer {
	border-top: 1px solid #ececec;
	text-align: center;
	padding: 20px 10px;
	font-family: 'Ubuntu', sans-serif;
}

.copyright {
	display: block;
	margin: 5px 0;
}

.version {
	display: block;
	margin: 5px 0;
}

/* HOME */
.home {
	text-align: center;
	font-family: 'Press Start 2P', cursive;
}

.home figure {
	width: 300px;
	height: 300px;
	margin: 20px auto;
	background: #ececec;
	border-radius: 100%;
	border: 3px solid #1a1a1a;
	overflow: hidden;
}

.home figure img {
	width: 100%;
	height: 100%;
}

.home .header {
	text-transform: uppercase;
}
